.main {
    height: 100%;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar {
    flex: 1;
}

.nav {
    padding-bottom: 10px;
}

.navbarBorder {
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0.00) 106.54%);
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navList li {
    display: inline;
    margin-right: 15px;
}

.navList li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navList li a:hover {
    color: #ffcc00;
}

.brand {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.brandText {
    padding-left: 10px;
}

.bar {
    display: none;
}

@media screen and (max-width: 768px) {
    .main {
        background-color: #7a7a7a8a;
    }

    .navbar {
        display: none;
    }

    .bar {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .brand {
        padding-left: 0px;
    }
}

/* Existing styles */

/* New styles for the full-screen overlay */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay-content {
    width: 100%;
}

.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #818181;
    transition: 0.3s;
}

.closebtn:hover,
.closebtn:focus {
    color: #f1f1f1;
}